@import "../../styles/colors";
@import "../../styles/mixins";

.header {
  height: 90vh;
  background-image: url("/images/dots-bg.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include respond-below(sm){
    background-image: url("/images/dots-bg-mobile.svg");

  }
  .title {
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.185em;
    font-size: 3em;
    line-height: 45px;
    margin-bottom: 20px;
    @include respond-below(sm) {
      font-size: 2.5em;
    }
  }
}
