@import "../../styles/colors";
@import "../../styles/mixins";

.title {
  margin: 0 auto;
  font-family: "Didot", serif;
  font-size: 6em;
  font-weight: lighter;
  text-align: center;
  @include respond-below(sm) {
    font-size: 4em;
  }
}
